body {
  background: Orange;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: Blue;
  text-align: center;
}

.assign {
  display: flex;
  padding: 10px;
  margin: 10px;
  background: Red;
  border-radius: 20px;
}

.assign img {
  width: 200px;
  padding: 10px;
  border: 2px solid midnightblue;
}

a {
  text-decoration: none;
  color: midnightblue;
}

a:hover {
  text-decoration: none;
  color: salmon;
}

