body {
  background: Orange;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  color: Blue;
  text-align: center;
  width: 100%
  display: block;
}

.assign {
  display: block;
  padding: 10px;
  margin: 10px;
  background: Red;
  border-radius: 20px;
  width: 20%;
  box-shadow: 8px 8px Grey;
}

.assign img {
  width: 200px;
  padding: 10px;
  border: 2px solid midnightblue;
}

a {
  text-decoration: none;
  color: midnightblue;
}

a:hover {
  text-decoration: none;
  color: salmon;
}

